
<h2>{{categoria.nome}}</h2>

{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}" role="button" class="btn btn-success" >Leia Mais</a>
        <hr>
        <small>Data de publicação: {{data}}</small>
        <hr>
    </div>
</div>
{{else}}
    <h5>Nenhuma postagem.</h5>
{{/each}}


